name: Release

on:
  push:
    tags:
      - '*.*.*-*.*'

jobs:
  Release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Prepare Build Environment
        uses: ./.github/workflows/prepare-build-environment

      - run: ./gradlew :protocol:rdgen
      - run: ./gradlew :buildPlugin -PBuildConfiguration=Release
      - run: ./gradlew :signPlugin -PBuildConfiguration=Release
        env:
          CERTIFICATE_CHAIN: ${{ secrets.CERTIFICATE_CHAIN }}
          PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
          PRIVATE_KEY_PASSWORD: ${{ secrets.PRIVATE_KEY_PASSWORD }}

      - uses: mad9000/actions-find-and-replace-string@5
        id: fix_branch_name
        with:
          source: ${{ github.ref_name }}
          find: 'release/'
          replace: ''

      - uses: actions/upload-artifact@v4
        with:
          name: odata-cli-ui.${{ steps.fix_branch_name.outputs.value }}
          path: output
